.container{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    
}
.card{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
    
}

.show{
    display: block;
}
.hide{
    display: none;
}
.buttonContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}