.container{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.card{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
    
}