.backDrop {
  position: fixed;
  background-color: black;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.backDrop-showing{
  visibility: visible;
  opacity: 0.8;
  transition: 1s;
}
.overLay {
  position: absolute;
  background-color: white;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
}
.overLay-showing {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
  }